<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#!/">
                <span class="glyphicon glyphicon-hand-left btn-sm"></span>
            </a>
        </p>

        <br>

        <h3 class="navbar-text" style="color: white">Movie Page</h3>
    </div>
</nav>

<div class="container-fluid user-main">

    <br>
    <br>
    <h3>{{model.movie.title}}</h3>
    <h4>{{model.movie.status}}</h4>
    <h4>{{model.movie.release_date}}</h4>
    <h4>{{model.movie.vote_average}}</h4>
    <h4>{{model.movie.vote_count}}</h4>
    <div ng-repeat="genre in model.genres">
        {{genre.name}}
    </div>

    <div ng-repeat="cast in model.casts">
        {{cast.name}}
    </div>

    <!--<div ng-repeat="s in model.similarMovie">-->
    <!--<img ng-click="model.selectMovie(s.id)"-->
    <!--class="thumbnail img-responsive"-->
    <!--ng-src="http://image.tmdb.org/t/p/original{{s.poster_path}}"/>-->
    <!--</div>-->


    <div style="height: 305px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
            <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="noWrapSlides">
                    Disable Slide Looping
                </label>
            </div>
        </div>
        <div class="col-md-6">
            Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
            <br />Enter a negative number or 0 to stop the interval.
        </div>
    </div>




    <h3>Recommended Movies</h3>

    <!--<div ng-repeat="s in model.recommendedMovie">-->
    <!--<img ng-click="model.selectMovie(s.id)"-->
    <!--class="thumbnail img-responsive"-->
    <!--ng-src="http://image.tmdb.org/t/p/original{{s.poster_path}}"/>-->
    <!--</div>-->

    <!--<iframe width="100%" src="{{model.getYouTubeEmbedUrl()}}"></iframe>-->

</div>