<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#!/home">
                <span class="glyphicon glyphicon-hand-left btn-sm"></span>
            </a>
        </p>

        <br>

            <h3 class="navbar-text" style="color: white">Movie Page</h3>
    </div>
</nav>

<div class="container-fluid user-main">

    <br>
    <br>
    <h3>{{model.movie.title}}</h3>
    <h4>{{model.movie.status}}</h4>
    <h4>{{model.movie.release_date}}</h4>
    <h4>{{model.movie.vote_average}}</h4>
    <h4>{{model.movie.vote_count}}</h4>
    <div ng-repeat="genre in model.genres">
        {{genre.name}}
    </div>

        <div ng-repeat="cast in model.casts">
            <ol>{{cast.name}}</ol>
        </div>

    <!--<div ng-repeat="s in model.similarMovie">-->
        <!--<img ng-click="model.selectMovie(s.id)"-->
             <!--class="thumbnail img-responsive"-->
             <!--ng-src="http://image.tmdb.org/t/p/original{{s.poster_path}}"/>-->
    <!--</div>-->

    <h3>Recommended Movies</h3>

    <!--<div ng-repeat="s in model.recommendedMovie">-->
        <!--<img ng-click="model.selectMovie(s.id)"-->
             <!--class="thumbnail img-responsive"-->
             <!--ng-src="http://image.tmdb.org/t/p/original{{s.poster_path}}"/>-->
    <!--</div>-->

    {{model.movie}}

    <iframe width="100%" src="{{model.getYouTubeEmbedUrl()}}"></iframe>

</div>
