<nav class="navbar navbar-default navbar-fixed-top">

    <!--Visible in extra small devices start-->

    <div class="container-fluid visible-xs">

        <p class="navbar-text pull-left navbarheading">
            <a href="#" class="navbar-link pull-left navbarheading">
          <span class="glyphicon glyphicon-chevron-left navbarheading">
          </span>
            </a>
        </p>

        <a class="navbar-brand navbarheading" href="#">
            ShowBiz
        </a>

        <p class="navbar-text pull-left navbarheading">
            <a href="#" class="navbar-link pull-left navbarheading">
          <span class="glyphicon glyphicon-search navbarheading">
          </span>
                Search
            </a>
        </p>

    </div>

    <!--Visible in extra small devices ends-->

    <!--Visible in small, medium and large screens starts-->

    <div class="container-fluid topnavbar visible-sm visible-md visible-lg">

        <p class="navbar-text pull-left navbarheading">
            <a href="#" class="navbar-link pull-left navbarheading">
          <span class="glyphicon glyphicon-chevron-left navbarheading">
          </span>
            </a>
        </p>

        <a class="navbar-brand navbarheading" href="#">
            ShowBiz
        </a>

        <p class="navbar-text pull-left navbarheading">
            <a href="#" class="navbar-link pull-left navbarheading">
          <span class="glyphicon glyphicon-search navbarheading">
          </span>
                Search
            </a>
        </p>

    </div>

    <!--Visible in small, medium and large screens ends-->
</nav>

<!--Top Navbar Ends-->


<div class="container-fluid">

    <div class=" panel animated zoomInRight col-sm-8">


        <div ng-repeat="details in model.moviedetails">

            <img class="  thumbnail animated flipInX movie-poster img-responsive" src="{{details.imageUrl}}"/>


            <h2>
                <span class="span-outer">
                    <a href="http://imdb.com/title/{{ details.imdb_id }}" target="_blank">{{ details.title }}</a>
                </span>
                <span ng-show="model.glyphiconlike">
                        <a
                                ng-click="model.likeMovie(details.title)"
                                ng-show="model.isNotLiked">
                            <span class="glyphicon glyphicon-thumbs-up navbarheading"></span>
                        </a>
                        <a
                                ng-click="model.undoLikeMovie()"
                                ng-show="model.isLiked">
                            <span class="glyphicon glyphicon-thumbs-down navbarheading"></span>
                        </a>
                    </span>
                <span ng-show="!model.glyphiconlike">
                        <a
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Please login to like!"
                                ng-disabled="!model.glyphiconlike">
                            <span class="glyphicon glyphicon-thumbs-up navbarheading"></span>
                        </a>
                    </span>
            </h2>

            <p><strong>Released on:</strong> {{ details.release_date }} ({{ details.runtime }} min)</p>

            <h4><strong>Plot</strong></h4>
            <p>{{ details.overview }}</p>

            <p class="outer-p">
            <div class="inner-p">
                <span class="label label-primary">Number of Likes :</span> <strong>{{model.totalLikes}}</strong>
            </div>

            <div class="inner-p">
                <span class="label label-primary">Average Rating :</span> <strong>{{details.vote_average}}</strong>
            </div>

            <div class="inner-p">
                <span class="label label-primary">Genre :</span> <strong
                    ng-repeat="genre in details.genres | limitTo:3"> {{ genre.name }}<span
                    class="divider"></span></strong>
            </div>

            <div class="inner-p">
                <span class="label label-primary">Cast :</span> <strong
                    ng-repeat="credit in model.credits.cast | limitTo:5">{{ credit.name }}<span class="divider"></span>
            </strong>
            </div>
            </p>

            <p class="outer-p-3">
                <a ng-href="https://www.youtube.com/results?search_query={{ details.title }}" target="_blank"
                   class="btn btn-default btn-xs btn-info"><strong>Watch Trailers!</strong></a>
                <span class="divider"></span>
                <a ng-href="http://subscene.com/subtitles/title?q={{ details.title }}" target="_blank"
                   class="btn btn-default btn-xs btn-info"><strong>Get Subtitles!</strong></a>
                <span class="divider"></span>
                <a ng-href="http://www.theost.com/search/custom/?key={{ details.title }}" target="_blank"
                   class="btn btn-default btn-xs btn-info"><strong>Hear Soundtracks!</strong></a>
                <span class="divider"></span>
                <a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ details.title }}"
                   target="_blank" class="btn btn-default btn-xs btn-info"><strong>Buy this movie!</strong></a>
            </p>


            <div ng-if="model.details.Response==='False'">
                No results found.
            </div>

            <div class="panel-body well">

                <!--Error message-->
                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    {{model.error}}
                </div>
                <!--Error message end-->

                <!--Success message-->
                <div ng-show="model.success" class="alert alert-success" role="alert">
                    {{model.success}}
                </div>
                <!--Success message end-->

                <strong><h4>Write a Review:</h4></strong>
                <form>
                    <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Please enter description of the review"
                              ng-model="model.description" ng-disabled="!model.enableReview"></textarea>
                    </div>
                    <a href="" class="btn btn-success" ng-show="model.enableReview"
                       ng-click="model.addUpdateReview(model.description)"
                       role="button"><strong>Submit</strong></a>
                    <a href="" class="btn btn-warning" ng-show="!model.enableReview" ng-disabled="!model.enableReview"
                       role="button"><strong>Please login to review!</strong></a>
                </form>

            </div>


        </div>

    </div>

    <!--For extra small screens-->

    <div class="visible-xs">

        <div class=" container-fluid panel panel-top">
            <div class="panel-body well">
                <strong><h4>Critic Reviews:</h4></strong>
                <div>
                    <div ng-repeat="critics in model.criticReviews">
                        <p><strong>By {{critics.name}} :</strong><span> <h5>{{critics.review}}</h5></span></p>
                    </div>
                </div>
            </div>

            <div class="panel well">
                <strong><h4>User Reviews:</h4></strong>
                <div ng-repeat="users in model.userReviews">
                    <p><strong>By {{users.name}} :</strong><span> <h5>{{users.review}}</h5></span></p>
                </div>
            </div>
        </div>

    </div>

    <!--For extra small screens-->

    <div class="visible-xs bottom-marginxs">
        <div class="panel panel-default animated flipInX">
            <div class="panel-body less-padding" ng-show="model.videos.length > 0">
                <div class="caption">
                    <h4>Trailers:</h4>
                </div>
                <div ng-repeat="video in model.videos | limitTo:3">
                    <iframe width="100%"
                            height="200px"
                            ng-src="{{video.url}}"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div id="related-result" class="panel-body related-results">
                <div ng-if="model.similarmovies!=='False'">

                    <div class="caption">
                        <h4>Related Results:</h4>
                    </div>
                    <hr>

                    <ul class="rel-results">
                        <li ng-repeat="movie in model.similarmovies.results | limitTo:10">
                            <a href="#{{model.routerelated}}/{{movie.id}}" id="{{ $inde + 1 }}">{{ movie.title }}</a>,
                            {{ movie.release_date | limitTo:4}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <!--For small, medium and large screen-->

    <div class="col-sm-4  visible-sm visible-md visible-lg">
        <div class="panel panel-default animated bounce">
            <div class="panel-body less-padding" ng-show="model.videos.length > 0">
                <div class="caption">
                    <h4>Trailers:</h4>
                </div>
                <div ng-repeat="video in model.videos | limitTo:3">
                    <iframe width="100%"
                            height="200px"
                            ng-src="{{video.url}}"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div id="related-result1" class="panel-body animated bounce related-results">
                <div ng-if="model.similarmovies!=='False'">

                    <div class="caption">
                        <h4>Related Results:</h4>
                    </div>
                    <hr>

                    <ul class="rel-results">
                        <li ng-repeat="movie in model.similarmovies.results | limitTo:10">
                            <a href="#{{model.routerelated}}/{{movie.id}}" id="{{ $index + 1 }}">{{ movie.title }}</a>,
                            {{ movie.release_date | limitTo:4}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<!--For small, medium and large screen-->

<div class="container-fluid visible-sm visible-md visible-lg bottom-margin">

    <div class=" container-fluid panel panel-top">
        <div class="panel-body well">
            <strong><h4>Critic Reviews:</h4></strong>
            <div>
                <div ng-repeat="critics in model.criticReviews">
                    <p><strong>By {{critics.name}} :</strong><span> <h5>{{critics.review}}</h5></span></p>
                </div>
            </div>
        </div>

        <div class="panel well">
            <strong><h4>User Reviews:</h4></strong>
            <div ng-repeat="users in model.userReviews">
                <p><strong>By {{users.name}} :</strong><span> <h5>{{users.review}}</h5></span></p>
            </div>
        </div>
    </div>

</div>

<!--For extra small screen-->

<!--<div class="visible-xs container bottom-margin">-->

<!--</div>-->


<nav class="navbar navbar-default navbar-fixed-bottom visible-xs bottomxs">

    <div class="container">
        <p class="navbar-text pull-right">

        </p>
    </div>

</nav>

<nav class="navbar navbar-default navbar-fixed-bottom visible-sm visible-md visible-lg">

    <div class="container">
        <p class="navbar-text pull-right">

        </p>
    </div>

</nav>
