input.form-control,
textarea.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 60px;
}

.navbar-default {
    background-color: darkgray;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

nav.navbar.navbar-default.navbar-fixed-top {
    right: 0px;
    padding-right: 15px;
}

.navbar.navbar-default a {
    color: white;
}

.scrollable-left {
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: scroll;
    padding-top: 15px;
    padding-bottom: 30px;
}