
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">Widget Edit</a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
            </p>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid user-main">

    <label for="name">Name</label>
    <input type=text
           placeholder="name (Example: alice)"
           id="name"
           class="form-control"/>

    <label for="text">Text</label>
    <input type="text"
           placeholder="Starrrrrrrrrrrrrrrrrrrrrrrr Warssssssssssssssssssssssssss"
           id="text"
           class="form-control"/>

    <label for="url">Url</label>
    <input type="url"
           placeholder="https://img.clipartfest.com/d6c029ed5585cd5555cde910dba170f3_laughing-smiley-clipart-yay_300-186.jpeg"
           id="url"
           class="form-control"/>

    <label for="width">Width</label>
    <input type="text"
           placeholder="100%"
           id="width"
           class="form-control"/>

    <label for="file">Upload</label>
    <input id="file" multiple type="file" class="form-control"/>

    <a href="widget-list.view.client.html"
       class="btn btn-block btn-primary">Upload Image</a>

    <a href="widget-list.view.client.html" class="btn btn-block btn-danger">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Footer
            </a>

            <p class="navbar-text pull-right">
                <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>

    </div>
</nav>
