
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
            </p>

            <a class="navbar-brand">Choose Widget</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

    <div class="wd-choose">
        <a ng-click="model.widgetType('HEADING'); model.createWidget(model.pageId, widget)">
            Header
        </a>
    </div>

    <div class="wd-choose">
        <a href="#">
            Label
        </a>
    </div>

    <div class="wd-choose">
        <a ng-click="model.widgetType('HTML'); model.createWidget(model.pageId, widget)">
            HTML
        </a>
    </div>

    <div class="wd-choose">
        <a ng-click="model.widgetType('TEXT'); model.createWidget(model.pageId, widget)">
            Text Input
        </a>
    </div>

    <div class="wd-choose">
        <a href="#">
            Link
        </a>
    </div>

    <div class="wd-choose">
        <a href="#">
            Button
        </a>
    </div>

    <div class="wd-choose">
        <a ng-click="model.widgetType('IMAGE'); model.createWidget(model.pageId, widget)">
            Image
        </a>
    </div>

    <div class="wd-choose">
        <a ng-click="model.widgetType('YOUTUBE'); model.createWidget(model.pageId, widget)">
            Youtube
        </a>
    </div>

    <div class="wd-choose">
        <a href="#">
            Data Table
        </a>
    </div>

    <div class="wd-choose">
        <a href="#">
            Repeater
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Footer
            </a>

            <p class="navbar-text pull-right">
                <a href="#!/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>

    </div>
</nav>
