<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
            </p>
            <a class="navbar-brand">Widget Edit</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widgetId, model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok "></span>
                </a>
            </p>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid user-main">

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <label for="name">Name</label>
    <input type=text
           placeholder="name (Example: alice)"
           id="name"
           ng-model="model.widget.name"
           class="form-control"/>

    <label for="text">Text</label>
    <input type="text"
           placeholder="Starrrrrrrrrrrrrrrrrrrrrrrr Warssssssssssssssssssssssssss"
           id="text"
           class="form-control"/>

    <label for="search">Flickr Search</label>
    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search"
       class="btn btn-block btn-primary"
       id="search">
        Search
    </a>

    <label for="width">Upload Image</label>
    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload</button>
    </form>

    <label for="url">Url</label>
    <input type="url"
           placeholder="https://img.clipartfest.com/d6c029ed5585cd5555cde910dba170f3_laughing-smiley-clipart-yay_300-186.jpeg"
           id="url"
           ng-model="model.widget.url"
           class="form-control"/>

    <label for="width">Width</label>
    <input type="text"
           ng-model="model.widget.width"
           placeholder="100%"
           id="width"
           class="form-control"/>

    <a ng-click="model.deleteWidget(model.widgetId)"
       class="btn btn-block btn-danger">
        Delete
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Footer
            </a>

            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>

    </div>
</nav>
